[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-routeskipper
Exec=harbour-routeskipper
Name=RouteSkipper
# translation example:
# your app name in German locale (de)
Name[de]=DasRouteSkipper

