[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-routeskipper
Exec=harbour-routeskipper
Name=RouteSkipper
# X-Nemo-Single-Instance=no # Disappointing that this is not allowed on a system that is supposed to be great at multitasking
# translation example:

